@font-face {
  font-family: 'NewJune-Thin';
  src: url('../fonts/newjunepro-thin-webfont.eot');
  src: url('../fonts/newjunepro-thin-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/newjunepro-thin-webfont.woff') format('woff'),
      url('../fonts/newjunepro-thin-webfont.ttf') format('truetype'),
      url('../fonts/newjunepro-thin-webfont.svg#newjunepro-thin') format('svg');
}

@font-face {
  font-family: 'NewJune-ThinItalic';
  src: url('../fonts/newjunepro-thin-italic-webfont.eot');
  src: url('../fonts/newjunepro-thin-italic-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/newjunepro-thin-italic-webfont.woff') format('woff'),
      url('../fonts/newjunepro-thin-italic-webfont.ttf') format('truetype'),
      url('../fonts/newjunepro-thin-italic-webfont.svg#newjunepro-thin-italic') format('svg');
}

@font-face {
  font-family: 'NewJune-Fine';
  src: url('../fonts/newjunepro-fine-webfont.eot');
  src: url('../fonts/newjunepro-fine-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/newjunepro-fine-webfont.woff') format('woff'),
      url('../fonts/newjunepro-fine-webfont.ttf') format('truetype'),
      url('../fonts/newjunepro-fine-webfont.svg#newjunepro-fine') format('svg');
}

@font-face {
  font-family: 'NewJune-FineItalic';
  src: url('../fonts/newjunepro-fine-italic-webfont.eot');
  src: url('../fonts/newjunepro-fine-italic-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/newjunepro-fine-italic-webfont.woff') format('woff'),
      url('../fonts/newjunepro-fine-italic-webfont.ttf') format('truetype'),
      url('../fonts/newjunepro-fine-italic-webfont.svg#newjunepro-fine-italic') format('svg');
}

@font-face {
  font-family: 'NewJune-Light';
  src: url('../fonts/newjunepro-light-webfont.eot');
  src: url('../fonts/newjunepro-light-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/newjunepro-light-webfont.woff') format('woff'),
      url('../fonts/newjunepro-light-webfont.ttf') format('truetype'),
      url('../fonts/newjunepro-light-webfont.svg#newjunepro-light') format('svg');
}

@font-face {
  font-family: 'NewJune-LightItalic';
  src: url('../fonts/newjunepro-light-italic-webfont.eot');
  src: url('../fonts/newjunepro-light-italic-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/newjunepro-light-italic-webfont.woff') format('woff'),
      url('../fonts/newjunepro-light-italic-webfont.ttf') format('truetype'),
      url('../fonts/newjunepro-light-italic-webfont.svg#newjunepro-light-italic') format('svg');
}

@font-face {
  font-family: 'NewJune-Book';
  src: url('../fonts/newjunepro-book-webfont.eot');
  src: url('../fonts/newjunepro-book-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/newjunepro-book-webfont.woff') format('woff'),
      url('../fonts/newjunepro-book-webfont.ttf') format('truetype'),
      url('../fonts/newjunepro-book-webfont.svg#newjunepro-book') format('svg');
}

@font-face {
  font-family: 'NewJune-BookItalic';
  src: url('../fonts/newjunepro-book-italic-webfont.eot');
  src: url('../fonts/newjunepro-book-italic-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/newjunepro-book-italic-webfont.woff') format('woff'),
      url('../fonts/newjunepro-book-italic-webfont.ttf') format('truetype'),
      url('../fonts/newjunepro-book-italic-webfont.svg#newjunepro-book-italic') format('svg');
}

@font-face {
  font-family: 'NewJune-Regular';
  src: url('../fonts/newjunepro-regular-webfont.eot');
  src: url('../fonts/newjunepro-regular-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/newjunepro-regular-webfont.woff') format('woff'),
      url('../fonts/newjunepro-regular-webfont.ttf') format('truetype'),
      url('../fonts/newjunepro-regular-webfont.svg#newjunepro-regular') format('svg');
}

@font-face {
  font-family: 'NewJune-RegularItalic';
  src: url('../fonts/newjunepro-regular-italic-webfont.eot');
  src: url('../fonts/newjunepro-regular-italic-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/newjunepro-regular-italic-webfont.woff') format('woff'),
      url('../fonts/newjunepro-regular-italic-webfont.ttf') format('truetype'),
      url('../fonts/newjunepro-regular-italic-webfont.svg#newjunepro-regular-italic') format('svg');
}

@font-face {
  font-family: 'NewJune-Medium';
  src: url('../fonts/newjunepro-medium-webfont.eot');
  src: url('../fonts/newjunepro-medium-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/newjunepro-medium-webfont.woff') format('woff'),
      url('../fonts/newjunepro-medium-webfont.ttf') format('truetype'),
      url('../fonts/newjunepro-medium-webfont.svg#newjunepro-medium') format('svg');
}

@font-face {
  font-family: 'NewJune-MediumItalic';
  src: url('../fonts/newjunepro-medium-italic-webfont.eot');
  src: url('../fonts/newjunepro-medium-italic-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/newjunepro-medium-italic-webfont.woff') format('woff'),
      url('../fonts/newjunepro-medium-italic-webfont.ttf') format('truetype'),
      url('../fonts/newjunepro-medium-italic-webfont.svg#newjunepro-medium-italic') format('svg');
}

@font-face {
  font-family: 'NewJune-Semibold';
  src: url('../fonts/newjunepro-semibold-webfont.eot');
  src: url('../fonts/newjunepro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/newjunepro-semibold-webfont.woff') format('woff'),
      url('../fonts/newjunepro-semibold-webfont.ttf') format('truetype'),
      url('../fonts/newjunepro-semibold-webfont.svg#newjunepro-semibold') format('svg');
}

@font-face {
  font-family: 'NewJune-SemiboldItalic';
  src: url('../fonts/newjunepro-semibold-italic-webfont.eot');
  src: url('../fonts/newjunepro-semibold-italic-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/newjunepro-semibold-italic-webfont.woff') format('woff'),
      url('../fonts/newjunepro-semibold-italic-webfont.ttf') format('truetype'),
      url('../fonts/newjunepro-semibold-italic-webfont.svg#newjunepro-semibold-italic') format('svg');
}

@font-face {
  font-family: 'NewJune-Bold';
  src: url('../fonts/newjunepro-bold-webfont.eot');
  src: url('../fonts/newjunepro-bold-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/newjunepro-bold-webfont.woff') format('woff'),
      url('../fonts/newjunepro-bold-webfont.ttf') format('truetype'),
      url('../fonts/newjunepro-bold-webfont.svg#newjunepro-bold') format('svg');
}

@font-face {
  font-family: 'NewJune-BoldItalic';
  src: url('../fonts/newjunepro-bold-italic-webfont.eot');
  src: url('../fonts/newjunepro-bold-italic-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/newjunepro-bold-italic-webfont.woff') format('woff'),
      url('../fonts/newjunepro-bold-italic-webfont.ttf') format('truetype'),
      url('../fonts/newjunepro-bold-italic-webfont.svg#newjunepro-bold-italic') format('svg');
}

@font-face {
  font-family: 'NewJune-Heavy';
  src: url('../fonts/newjunepro-heavy-webfont.eot');
  src: url('../fonts/newjunepro-heavy-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/newjunepro-heavy-webfont.woff') format('woff'),
      url('../fonts/newjunepro-heavy-webfont.ttf') format('truetype'),
      url('../fonts/newjunepro-heavy-webfont.svg#newjunepro-heavy') format('svg');
}

@font-face {
  font-family: 'NewJune-HeavyItalic';
  src: url('../fonts/newjunepro-heavy-italic-webfont.eot');
  src: url('../fonts/newjunepro-heavy-italic-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/newjunepro-heavy-italic-webfont.woff') format('woff'),
      url('../fonts/newjunepro-heavy-italic-webfont.ttf') format('truetype'),
      url('../fonts/newjunepro-heavy-italic-webfont.svg#newjunepro-heavy-italic') format('svg');
}

@font-face {
  font-family: 'NewJune-Extrabold';
  src: url('../fonts/newjunepro-extrabold-webfont.eot');
  src: url('../fonts/newjunepro-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/newjunepro-extrabold-webfont.woff') format('woff'),
      url('../fonts/newjunepro-extrabold-webfont.ttf') format('truetype'),
      url('../fonts/newjunepro-extrabold-webfont.svg#newjunepro-extrabold') format('svg');
}

@font-face {
  font-family: 'NewJune-ExtraboldItalic';
  src: url('../fonts/newjunepro-extrabold-italic-webfont.eot');
  src: url('../fonts/newjunepro-extrabold-italic-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/newjunepro-extrabold-italic-webfont.woff') format('woff'),
      url('../fonts/newjunepro-extrabold-italic-webfont.ttf') format('truetype'),
      url('../fonts/newjunepro-extrabold-italic-webfont.svg#newjunepro-extrabold-italic') format('svg');
}

@font-face {
  font-family: 'NewJune-Ultrabold';
  src: url('../fonts/newjunepro-ultrabold-webfont.eot');
  src: url('../fonts/newjunepro-ultrabold-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/newjunepro-ultrabold-webfont.woff') format('woff'),
      url('../fonts/newjunepro-ultrabold-webfont.ttf') format('truetype'),
      url('../fonts/newjunepro-ultrabold-webfont.svg#newjunepro-ultrabold') format('svg');
}

@font-face {
  font-family: 'NewJune-UltraboldItalic';
  src: url('../fonts/newjunepro-ultrabold-italic-webfont.eot');
  src: url('../fonts/newjunepro-ultrabold-italic-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/newjunepro-ultrabold-italic-webfont.woff') format('woff'),
      url('../fonts/newjunepro-ultrabold-italic-webfont.ttf') format('truetype'),
      url('../fonts/newjunepro-ultrabold-italic-webfont.svg#newjunepro-ultrabold-italic') format('svg');
}
